.main-app-home {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.bg-home-container {
  width: calc(100% - 17%);
  background-color: #f5f6f8;
  padding: 30px 60px;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .main-app-home {
    flex-direction: column;
    width: 100%;
  }
  .bg-home-container {
    width: 100%;
    padding: 0;
  }
}
