.BarChart-main-container {
  background-color: #fff;
  width: 65%;
  height: 250px;
  padding: 20px 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.Barchart-header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .BarChart-main-container {
    width: 100%;
  }
}
